In [7]:
import sqlalchemy as db
import pandas as pd

# https://www.datacamp.com/tutorial/sqlalchemy-tutorial-examples

In [8]:
# BASE OBJECTS
engine = db.create_engine('sqlite:///db_test.sqlite')
conn = engine.connect()
metadata = db.MetaData()

In [9]:
# CREATE TABLE
engine = db.create_engine('sqlite:///db_test.sqlite')
conn = engine.connect()
metadata = db.MetaData()

Student = db.Table('Student', metadata,
              db.Column('Id', db.Integer(),primary_key=True),
              db.Column('Name', db.String(255), nullable=False),
              db.Column('Major', db.String(255), default="Math"),
              db.Column('Pass', db.Boolean(), default=True)
              )
metadata.create_all(engine)

In [10]:
# INSERT ONE
query = db.insert(Student).values(Id=1, Name='Matthew', Major="English", Pass=True)
Result = conn.execute(query)

In [11]:
# INSERT MANY
query = db.insert(Student)
values_list = [
            {'Id':'2', 'Name':'Harry', 'Major':"Science", 'Pass':False},
            {'Id':'3', 'Name':'Nisha', 'Major':"Science", 'Pass':False},
            {'Id':'4', 'Name':'Natasha', 'Major':"Math", 'Pass':True},
            {'Id':'5', 'Name':'Ben', 'Major':"English", 'Pass':False}]

Result = conn.execute(query,values_list)

In [14]:
# QUERY
query = Student.select()
output = conn.execute(query)
print(output.fetchall())

[(1, 'Matthew', 'English', True), (2, 'Harry', 'Science', False), (3, 'Nisha', 'Science', False), (4, 'Natasha', 'Math', True), (5, 'Ben', 'English', False)]

In [15]:
# QUERY
query = Student.select().where(Student.columns.Major == 'Math')
output = conn.execute(query)
print(output.fetchall())

[(4, 'Natasha', 'Math', True)]

In [16]:
# AND
query = Student.select().where(db.and_(Student.columns.Major == 'English', Student.columns.Pass != True))
output = conn.execute(query)
print(output.fetchall())

[(5, 'Ben', 'English', False)]

In [17]:
# PANDAS
query = Student.select().where(Student.columns.Major.in_(['English','Math']))
output = conn.execute(query)
results = output.fetchall()

In [18]:
data = pd.DataFrame(results, columns=results[0].keys())
data

   Id     Name    Major   Pass
0   1  Matthew  English   True
1   4  Natasha     Math   True
2   5      Ben  English  False