In [2]:
import datetime
from dataclasses import dataclass

In [7]:
def mian():
    pass
main()

## Formatting numbers

In [27]:
number = 800
print(f'The number is {number}.')
print(f'The number is {number:x}. Hex representation')
print(f'The number is {number:o}. Octo representation')
print(f'The number is {number:e}. Scinetific representation')
print(f'The number is {number:06}. Total number of digits is 6')

The number is 800.
The number is 320. Hex representation
The number is 1440. Octo representation
The number is 8.000000e+02. Scinetific representation
The number is 000800. Total number of digits is 6

In [28]:
number = 100.321321321321
print(f'The number is {number:.2f}. 2 decimal places.')

The number is 100.32. 2 decimal places.

In [41]:
number = 40000000000000
print(f'$ {number:_} Thousand separator.')
print(f'$ {number:,} Thousand separator.')
print(f'$ {number:,.2f} Thousand separator and 2 decimal places.')

$ 40_000_000_000_000 Thousand separator.
$ 40,000,000,000,000 Thousand separator.
$ 40,000,000,000,000.00 Thousand separator and 2 decimal places.

In [51]:
number = 0.3156
print(f'{number:%} Percent.')
print(f'{number:.2%} Percent and decimal place.')

31.560000% Percent.
31.56% Percent and decimal place.

## Alingment

In [63]:
#Right alingment
for number in range(5,15):
    print(f'The number is: {number: 3}')

The number is:   5
The number is:   6
The number is:   7
The number is:   8
The number is:   9
The number is:  10
The number is:  11
The number is:  12
The number is:  13
The number is:  14

In [69]:
greet = 'Hi'
print(f'{greet}')
print(f'{greet:>1}')
print(f'{greet:>2}')
print(f'{greet:>3}')
print(f'{greet:>4}')

Hi
Hi
Hi
 Hi
  Hi

In [74]:
print(f'{greet:>10}') #right
print(f'{greet:^10}') #center
print(f'{greet:<10}') #left

        Hi
    Hi
Hi

In [78]:
print(f'{greet:_>10}') #right with underscore
print(f'{greet:_^10}') #center with underscore
print(f'{greet:_<10}') #left with underscore

________Hi
____Hi____
Hi________

In [81]:
print(f'{3.4}')
print(f'{3.4:2}') #to less to align to right.
print(f'{3.4:10}')

3.4
3.4
       3.4

### Dataclasses, str, repr

In [94]:
# Repr version
@dataclass
class User:
    first_name: str
    last_name: str
    
user = User('Elon',' Musk')
print(user)

User(first_name='Elon', last_name=' Musk')

In [91]:
class User:
    def __init__(self, first_name: str, last_name:str) -> None:
        self.first_name = first_name
        self.last_name = last_name
    
user = User('Elon',' Musk')
print(user)

<__main__.User object at 0x000001FBA2358190>

In [100]:
# String method

@dataclass
class User:
    first_name: str
    last_name: str
    
    def __str__(self) ->str:
        return f'{self.first_name, self.last_name}'
        
    
user = User('Elon',' Musk')
print(f'{user}')
print(f'{user!r}') # __repr__ instead of __str__
print(f'{repr(user)}') # __repr__ instead of __str__

('Elon', ' Musk')
User(first_name='Elon', last_name=' Musk')
User(first_name='Elon', last_name=' Musk')

### Formatting date and types

In [130]:
today = datetime.datetime.now()

print(f'Simple: {today}')
print('')
print(f'{today:%H:%M}') 
print(f'{today:%H:%M:%S}')
print(f'{today:%H:%M:%S:%f}')
print('')
print(f'{today:%Y}') 
print(f'{today:%Y.%m}') 
print(f'{today:%Y.%m.%d}') 
print('')
print(f'{today:%T}') 
print(f'{today:%D}') 
print(f'{today:%A} is today.') 
print('')
print(f'{today:%A, %B, %d, %Y}')

Simple: 2022-09-13 13:15:02.339460

13:15
13:15:02
13:15:02:339460

2022
2022.09
2022.09.13

13:15:02
09/13/22
Tuesday is today.

Tuesday, September, 13, 2022

In [131]:
print(f'{today:%x}') #local date
print(f'{today:%X}') #local time

09/13/22
13:15:02

### Special characters

In [151]:
print(f'{{single braces}}')
print(f'{{{{double braces}}}}') 
print('')
print(f'{{{{"quote"}}}}') 
print('')
print(f"{{{{'quote'}}}}") 
print(f"{{{{\"quote\"}}}}")

{single braces}
{{double braces}}

{{"quote"}}

{{'quote'}}
{{"quote"}}

In [157]:
# double and single quotes
dictionary = {"hello": 'world'}

print(f"{dictionary['hello']}")
print(f'{dictionary["hello"]}')

world
world

### Printing variables and debuging

In [167]:
x = 45
y = 78

print(f'x={x}, y={y}')
print(f'{x=}, {y=}') # same as above
print(f'{x = }, {y = }') # same as above

x=45, y=78
x=45, y=78
x = 45, y = 78

### Multiline strings

In [173]:
name = 'Mat'
country = 'Poland'
city = 'Lodz'

sentence = (
    f'Hi {name}. '
    f'I am from {country}. '
    f'I live in {city}. '

)
print(sentence)

Hi Mat. I am from Poland. I live in Lodz.